extends ../template/adminLoginRegister.template.pug
block content
        if errors
          -let styleValidate = "";
          -let showErrors = "";
          each error,errName in errors
            -errors.error = errName
            -styleValidate  = styleValidate+ "#"+errName+" {border-bottom: 2px solid red;}  " 
            -showErrors = showErrors + "$('#"+errName+"ErrorInput"+"').append('"+error+"').css('color','red'); "
          
          
          style.   
            #{styleValidate}
          script.
            $(document).ready(function(){
              #{showErrors} 
            })


        .wrapper.fadeInDown
          #formContent
            // Tabs Titles
            // Icon
            .fadeIn.first
            // Login Form
            form(action="/user/forgot" method="POST")
                input#_id(type='hidden' name='_id' value = data._id)
                input#password.fadeIn.second(type='password', name='password', placeholder='Password Confrim')
                p#passwordErrorInput  
                input#password2.fadeIn.second(type='password', name='password2', placeholder='Confrim Password Again')
                p#password2ErrorInput  
                input.fadeIn.fourth(type='submit', value='Send')
            // Remind Passowrd
            #formFooter
                a.underlineHover(href='/user/login') Login
