extends ../template/client.template.pug
block content
    link(rel="stylesheet", href="../css/login.css")

    .wrapper.fadeInDown
          #formContent
            // Tabs Titles
            // Icon
            .fadeIn.first
            // Login Form
            form(action="/user/forgot" method="POST")
                input#email.fadeIn.second(type='text', name='email', placeholder='Email')
                p#emailErrorInput  
                input.fadeIn.fourth(type='submit', value='Send')
            // Remind Passowrd
            #formFooter
                a.underlineHover(href='/user/login') Login
